<div class="container" role="main">
	
	<div class="jumbotron">
		<h1>Powell Place Board Members</h1>
		<div class="table-responsive">
		<table class="table">
			<tbody>
				<tr>
					<th scope="row">President</th>
					<td><a href="mailto:bcoghlan@powellplace.org">Brian Coghlan</a></td>
					<td>term expires 2016</td>
				</tr>
				<tr>
					<th scope="row">Vice President</th>
					<td><a href="mailto:rdavis@powellplace.org">Robert Davis</a></td>
					<td>term expires 2015</td>
				</tr>
				<tr>
					<th scope="row">Secretary</th>
					<td><a href="mailto:dbridgman@powellplace.org">David Bridgman</a></td>
					<td>term expires 2015</td>
				</tr>
				<tr>
					<th scope="row">Treasurer</th>
					<td><a href="mailto:fchambers@powellplace.org">Fletcher Chambers</a></td></td>
					<td>term expires 2017</td>
				</tr>
				<tr>
					<th scope="row">Trustee</th>
					<td><a href="mailto:mroehl@powellplace.org">Mark Roehl</a></td>
					<td>term expires 2017</td>
				</tr>
				<tr>
					<th scope="row">Trustee</th>
					<td><a href="mailto:jseymour@powellplace.org">John Seymour</a></td>
					<td>term expires 2016</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>

	<h2 class="sub-header">Contact Information</h2>
	<p>
		To offer your comments or suggestions, or to ask questions of the board members,
		<a href="mailto:powellplaceboard@powellplace.org">send an email to: powellplaceboard@powellplace.org</a>.
	</p>
	<p>
		Or you may contact the board at:<br />
		Clayman Property Services<br />
		6724 Perimeter Loop Road<br />
		PMB 319<br />
		Dublin, OH 43017<br />
	</p>
</div>
