<div class="container" role="main">
	
	<div class="jumbotron">
		<h1>The Association of Powell Place Home Owners</h1>
		<p>
			Welcome to the website of The Association of Powell Place Home Owners.  Here you can find information
			about your homeowners association.  We hope you enjoy your visit.
		</p>
	</div>
	
	<h2 class="sub-header">Street Maintenance</h2>
	<p>
		Milling and asphalt work will occur in Powell Place.  Bovee Lane and a section of Middlebury Way will be affected by the work.
		<a href="http://www.cityofpowell.us/documents/Street%20Maintenance%20North%20Powell%202014.pdf">The City of Powell has provided a map of the streets to be done here.</a>
	</p>
	
	<h2 class="sub-header">June Newsletter</h2>
	<p>
		The June newsletter has been posted.  See <a href="http://www.powellplace.org/newsletters.php">Newsletters</a> for more information.
	</p>
	
	<h2 class="sub-header">Next Board Meeting</h2>
	<h3>July 10, 2014</h3>
	<p>
		The minutes of the May board meeting have been posted.  The next board meeting will be July 10, 2014. For more information please see <a href="meetings.php">Meetings</a>.
	</p>
	
	<h2 class="sub-header">Neighborly Services</h2>
	<ul class="list-unstyled">
		<li>
			<h3>Lawn Service</h3>
			<p>
				Need help cutting the lawn?  Going on vacation and just need it cut once or twice?  Call Ellery Chambers - 740.881.0205.
			</p>
		</li>
		<li>
			<h3>Painting</h3>
			<p>
				Need help painting the house? Call Darrell Rohda - 614.519.7969.
			</p>
		</li>
		<li>
			<h3>House/Pet Sitting</h3>
			<p>
				Need someone to watch the house or pet sit during your summer vacation?  Call Ebony Nelson - 740.881.5088.
			</p>
		</li>	
	</ul>
	
	<h2 class="sub-header">Annual Dues</h2>
	<p>
		2014 annual dues are $195 and were due by April 1, 2014.  Please send payment to:
	</p>
	<p>
		Clayman Property Services<br />
		6724 Perimeter Loop Road<br />
		PMB 319<br />
		Dublin, OH 43017<br />
		614-842-1922<br/>
		<a href="http://www.claymanpropertyservices.com">www.claymanpropertyservices.com</a>
	</p>
	<p>
		Late fees will begin to accrue on May 1.  Please submit your payment to avoid the late fees.
	</p>
	<p>
		<a href="http://www.powellplace.org/files/Policies/PP%20Collections%20Policy%2011-08-2012.pdf">Click here for a copy of the collection policy</a> (PDF 58K).
	</p>

	<h2 class="sub-header">Property Management Company</h2>
	<p>
		The APPHO Board of Trustees has reached an agreement and retained the services of Clayman Property Services.
	</p>
	<p>
		Clayman Property Services will be able to help manage the bookkeeping, expenses, billing, and collections of dues as well as
		a host of other duties.
	</p>
	<p>
		Clayman Property Services<br />
		6724 Perimeter Loop Road<br />
		PMB 319<br />
		Dublin, OH 43017<br />
		614-842-1922<br/>
		<a href="http://www.claymanpropertyservices.com">www.claymanpropertyservices.com</a>
	</p>
</div>