<div class="jumbotron">
	<h1>The Association of Powell Place Home Owners</h1>
	<p>
		Welcome to the website of The Association of Powell Place Home Owners.  Here you can find information
		about your homeowners association.  We hope you enjoy your visit.
	</p>
</div>
<div class="container" role="main">

	<h2 class="sub-header">Next Board Meeting</h2>
	<h3>February 11, 2016</h3>
	<h4>47 Hall Street</h4>
	<p>
		The next regularly scheduled meeting is February 11, 2016.  For more information please see <a ng-href="#/meetings">Meetings</a>.
	</p>
	
	<h2 class="sub-header">Annual Dues</h2>
	<p>
		2016 annual dues are $225 and are due by April 1, 2016.  Please send payment to:
	</p>
	<p>
		Clayman Property Services<br />
		6724 Perimeter Loop Road<br />
		PMB 319<br />
		Dublin, OH 43017<br />
		614-842-1922<br/>
		<a href="http://www.claymanpropertyservices.com">www.claymanpropertyservices.com</a>
	</p>
	<p>
		Late fees will begin to accrue on May 1.  Please submit your payment to avoid the late fees.
	</p>
	<p>
		<a href="http://www.powellplace.org/files/Policies/PP%20Collections%20Policy%2011-08-2012.pdf">Click here for a copy of the collection policy</a> (PDF 58K).
	</p>
	
	<h2 class="sub-header">Unified Declarations</h2>
	<p>
		The board has been working with the Association’s attorneys, Kaman & Cusimano, to assist with drafting a set of unified Declarations. 
		The unified Declarations will:
	</p>
	<ul>
		<li>Make the Declarations for all of the phases in the neighborhood as uniform as possible and will provide continuity between the phases</li>
		<li>Help preserve property values in a single, streamlined set of documents that govern the Association</li>
		<li>Eliminates unnecessary references in the Declarations</li>
		<li>Restricts County Sheriff-notified Tier III and Tier II sex offenders from being able to reside in our community</li>
		<li>Be consistent with Ohio’s “Planned Community” laws</li>
	</ul>
	<p>
		Homeowners should have received a packet of information about this effort.  Items included in the packet were:
	</p>
	<ul>
		<li><a href="/files/Covenants/Unified Covenants Cover Letter.pdf">Letter of explanation and instructions for voting</a> (49kb PDF)</li>
		<li>Self addressed stamped envelope</li>
		<li><a href="/files/Covenants/Unified Covenants Voting Form.pdf">Voting form</a> (37kb PDF)</li>
		<li><a href="/files/Covenants/Unified Covenants.pdf">Unified Declarations</a> (105kb PDF)</li>
	</ul>

	<p>
		Please return voting forms to:
	</p>
	<p>
		Clayman Property Services<br />
		6724 Perimeter Loop Road<br />
		PMB 319<br />
		Dublin, OH 43017<br />
	</p>
	
	<h2 class="sub-header">Neighborly Services</h2>
	<ul class="list-unstyled">
		<li>
			<h3>Lawn Service</h3>
			<p>
				Need help cutting the lawn?  Going on vacation and just need it cut once or twice?  Call Ellery Chambers - 740.881.0205.
			</p>
		</li>
		<li>
			<h3>Painting</h3>
			<p>
				Need help painting the house? Call Darrell Rohda - 614.519.7969.
			</p>
		</li>
		<li>
			<h3>House/Pet Sitting</h3>
			<p>
				Need someone to watch the house or pet sit during your summer vacation?  Call Ebony Nelson - 740.881.5088.
			</p>
		</li>	
	</ul>

	<h2 class="sub-header">Property Management Company</h2>
	<p>
		The APPHO Board of Trustees has reached an agreement and retained the services of Clayman Property Services.
	</p>
	<p>
		Clayman Property Services will be able to help manage the bookkeeping, expenses, billing, and collections of dues as well as
		a host of other duties.
	</p>
	<p>
		Clayman Property Services<br />
		6724 Perimeter Loop Road<br />
		PMB 319<br />
		Dublin, OH 43017<br />
		614-842-1922<br/>
		<a href="http://www.claymanpropertyservices.com">www.claymanpropertyservices.com</a>
	</p>
</div>