<div class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">APPHO</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li ng-class="{active: activeTab == 'board'}"><a ng-href="#/board">Board Members</a></li>
				<li ng-class="{active: activeTab == 'meetings'}"><a ng-href="#/meetings">Meetings</a></li>
				<li ng-class="{active: activeTab == 'info'}"><a ng-href="#/info">Information</a></li>
				<li ng-class="{active: activeTab == 'newsletter'}"><a ng-href="#/newsletter">Newsletter</a></li>
				<li ng-class="{active: activeTab == 'faq'}"><a ng-href="#/faq">FAQ</a></li>
			</ul>
		</div>
	</div>
</div>