<div class="jumbotron">
	<h1>Association Newsletters</h1>
	<p>Most recent newsletter: <a href="/newsletter/2016-01.pdf">January 2016</a> (PDF 101kb)</p>
</div>
<div class="container" role="main">
	<h2 class="sub-header">Past Association Newsletters</h2>
	<table class="table table-striped">
		<thead>
			<tr><th scope="col">Newsletter</th><th scope="col">File Type</th></tr>
		</thead>
		<tbody>
			<tr><td><a href="/newsletter/2016-01.pdf">January 2016</a></td><td>PDF 101kb</td></tr>
			<tr><td><a href="/newsletter/2014-06.pdf">June 2014</a></td><td>PDF 186kb</td></tr>
			<tr><td><a href="/newsletter/2014-01.pdf">January 2014</a></td><td>PDF 255kb</td></tr>
			<tr><td><a href="/newsletter/2013-04.pdf">April 2013</a></td><td>PDF 136kb</td></tr>
			<tr><td><a href="/newsletter/2012-12.pdf">December 2012</a></td><td>PDF 199kb</td></tr>
			<tr><td><a href="/newsletter/2012-01.pdf">January 2012</a></td><td>PDF 199kb</td></tr>
			<tr><td><a href="/newsletter/2011-06.pdf">June 2011</a></td><td>PDF 193kb</td></tr>
			<tr><td><a href="/newsletter/2011-01.pdf">January 2011</a></td><td>PDF 206kb</td></tr>
			<tr><td><a href="/newsletter/2010-01.pdf">January 2010</a></td><td>PDF 172kb</td></tr>
			<tr><td><a href="/newsletter/2008-12.pdf">December 2008</a></td><td>PDF 184kb</td></tr>
			<tr><td><a href="/newsletter/2008-01.pdf">January 2008</a></td><td>PDF 112kb</td></tr>
			<tr><td><a href="/newsletter/2007-07.pdf">July 2007</a></td><td>PDF 275kb</td></tr>
			<tr><td><a href="/newsletter/2007-04.pdf">April 2007</a></td><td>PDF 207kb</td></tr>
			<tr><td><a href="/newsletter/2007-01.pdf">January 2007</a></td><td>PDF 305kb</td></tr>
			<tr><td><a href="/newsletter/2006-10.pdf">October 2006</a></td><td>PDF 267kb</td></tr>
			<tr><td><a href="/newsletter/2006-05.pdf">May 2006</a></td><td>PDF 385kb</td></tr>
			<tr><td><a href="/newsletter/2006-01.pdf">January 2006</a></td><td>PDF 264kb</td></tr>
			<tr><td><a href="/newsletter/2005-07.rtf">July 2005</a></td><td>RTF 68kb</td></tr>
			<tr><td><a href="/newsletter/2005-04.pdf">April 2005</a></td><td>PDF 598kb</td></tr>
			<tr><td><a href="/newsletter/2005-02.rtf">February 2005</a></td><td>RTF 15kb</td></tr>
			<tr><td><a href="/newsletter/2004-10.rtf">October 2004</a></td><td>RTF 20kb</td></tr>
			<tr><td><a href="/newsletter/2004-07.pdf">July 2004</a></td><td>PDF 250kb</td></tr>
			<tr><td><a href="/newsletter/2004-04.pdf">April 2004</a></td><td>PDF 180kb</td></tr>
			<tr><td><a href="/newsletter/2004-01.pdf">January 2004</a></td><td>PDF 69kb</td></tr>
			<tr><td><a href="/newsletter/2003-11.pdf">November 2003</a></td><td>PDF 177kb</td></tr>
			<tr><td><a href="/newsletter/2003-07.pdf">July 2003</a></td><td>PDF 739kb</td></tr>
			<tr><td><a href="/newsletter/2003-04.doc">April 2003</a></td><td>DOC 192kb</td></tr>
			<tr><td><a href="/newsletter/2003-01.doc">January 2003</a></td><td>DOC 216kb</td></tr>
			<tr><td><a href="/newsletter/2002-11.pdf">November 2002</a></td><td>PDF 924kb</td></tr>
			<tr><td><a href="/newsletter/2002-07.doc">July 2002</a></td><td>DOC 95kb</td></tr>
			<tr><td><a href="/newsletter/2002-04.doc">April 2002</a></td><td>DOC 90kb</td></tr>
			<tr><td><a href="/newsletter/2002-03.doc">March 2002</a></td><td>DOC 104kb</td></tr>
		</tbody>
	</table>
</div>