<div class="text-center">
  <img class="visible-xs-inline img-responsive img-fluid d-inline d-md-none" src="https://unsplash.it/480/48?random" alt="Loading: https://unsplash.it/">
  <img class="visible-sm-inline img-responsive img-fluid d-none d-md-inline d-lg-none" src="https://unsplash.it/718/72?random" alt="Loading: https://unsplash.it/">
  <img class="visible-md-inline img-responsive img-fluid d-none d-lg-inline d-xl-none" src="https://unsplash.it/942/94?random" alt="Loading: https://unsplash.it/">
  <img class="visible-lg-inline img-responsive img-fluid d-none d-xl-inline" src="https://unsplash.it/1150/115?random" alt="Loading: https://unsplash.it/">
  <p class="text-muted">Comments... Questions... Suggestions...  Send me a note: <a href="mailto:chamfamdad@gmail.com">Fletcher Chambers</a>.</p>
</div>
