bhtml, body
{
	padding: 0;
	margin: 0;
	background: #fbb;
}

#content
{
	padding: 10px;
}

#header
{
}

#navigation
{
	float: left;
	width: 210px;
}

#navigation h2
{
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

#navigation ul, #navigation li
{
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}

#navigation a
{
	font-weight: bold;
}

#navigation img
{
	border: none;
}

#main
{
	padding: 10px;
	margin-left: 200px;
	background: #ffffff;
}

#footer
{
	font-style: italic;
	clear: both;
}

div.photo
{
	padding: 5px;
	height: auto;
	float: left;
}

div.photo p
{
	margin: 0;
	padding: 0;
	text-align: center;
}

div.photo img
{
	border: 1px solid #000000;
	width: 160px;
	height: 120px;
}

div.clear
{
	clear: both;
}

#tag
{
	margin-top: 20px;
	padding-top: 10px;
	clear: both;
	font-style: italic;
	font-size: .8em;
	border-top: 1px solid #0f0f0f;
}